html,body {
    background-image: url("png.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    text-align: center;
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    border-radius: 15px;
    background-image: url("jpg.jpg");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header2 {
    border-radius: 15px;
    background-image: url("jpg.jpg");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.description {
    border-radius: 15px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.description2{
    border-radius: 15px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    position: relative;
}

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.item:hover p {
    opacity: 1;
}

.item:hover img {
    opacity: 0.55;
}
